// Processed by the Tailwind postcss plugin
@tailwind base;
@tailwind components;

// Styles using Tailwind utilities
@import "./buttons";
@import "./layout";
@import "./typography";

@tailwind utilities;

// Styles not using Tailwind utilities
@import "./global";

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
